-content_for(:sidebar) do
  = link_to 'New Topic', new_topic_path, class: 'btn btn-primary btn-lg'

%h1 Listing Topics
%br
%br

%table.table.table-hover
  %tr
    %th Author
    %th Title
    %th Created at
    %th Posts
    %th Last Post
    %th
    %th
    %th

  - @topics.each do |topic|
    %tr
      %td= topic.user.name
      %td= topic.title
      %td= topic.created_at
      %td= topic.posts.count
      %td= topic.last_post
      %td= link_to 'Show', topic
      %td= link_to 'Edit', edit_topic_path(topic)
      %td= link_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }


