-content_for(:sidebar) do
  / Button trigger modal
  .well
    = button_tag 'New Post', class: 'btn btn-primary btn-lg btn-block', "data-target" => "#post", "data-toggle" => "modal"
    = link_to  'Volver', topics_path , class: 'btn btn-default btn-lg btn-block'
  = render 'posts/form_new'

.row
  %table.table.table-hover
    %tr.danger
      %th
        %h3=@topic.title
      %th
      %th.text-right
        %h6="created at #{@topic.created_at.to_date}"
    %tr.active
      %td{colspan: 3}=@topic.description
.row
  %h4 Posts
  -@topic.posts.each do |post|
    .col-md-8
      %p=post.body
    .col-md-3
      ="posted #{post.created_at.to_date}"
    .col-md-1
      %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
