= form_for @user , {class: 'form-signin'} do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.text_field :name, class: 'form-control', placeholder: 'Name'
  .actions
    = f.submit 'Enter', class: 'btn btn-lg btn-primary btn-block'
