!!!
%html
  %head
    %title Forum
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %body
      .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %a.navbar-brand{href: "#"} Forum Project
          .collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li
                %a{href: "#contact"} Log Out
          / /.nav-collapse
      .container
        .jumbotron.text-center
          %h1='Rails Girls Popayán'
          .row
            .col-xs-6.col-md-3
              = link_to '#', class: 'thumbnail' do
                =image_tag 'image1.png', {alt: 'image1', 'data-src'=> 'holder.js/100%x223' }
            .col-xs-6.col-md-3
              = link_to '#', class: 'thumbnail' do
                =image_tag 'image2.png', {alt: 'image2', 'data-src'=> 'holder.js/100%x223' }
            .col-xs-6.col-md-3
              = link_to '#', class: 'thumbnail' do
                =image_tag 'image1.png', {alt: 'image1', 'data-src'=> 'holder.js/100%x223' }
            .col-xs-6.col-md-3
              = link_to '#', class: 'thumbnail' do
                =image_tag 'image2.png', {alt: 'image2', 'data-src'=> 'holder.js/100%x223' }
          %p.lead
            Use this document as a way to quickly start any new project.
            %br/
            All you get is this text and a mostly barebones HTML document.
        .main-content
          .row
            .col-xs-6.col-md-3
              = yield
